<footer>
    <p class="mt-8 text-center text-base text-gray-500">
       &copy; 2021 Moore Technologies. All rights reserved.
      Made by  <a href="https://intergalacticinteractive.com"> Dave</a>
    </p>
</footer>
