---
layout: layouts/base.njk
section: contact
---
<h1 class="mt-16 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl text-gray-900 highlight text-center">{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/contact.njk" %}
